.buttons{
    height: 100px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
.buutonDiv{
    display:flex;
    justify-content: center;
    gap: 10%;
    padding:40px;
    margin: auto;
}
.buutonDiv button{
    background-color:rgb(150, 58, 58);
    width: 140px;
    color: white;
    cursor: pointer;
    height: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.calltoken{
    background-color: green;
    color: white;
    font: 20px;
}