.displayCard{
    height: 180px;
    width:90%;
    margin: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}
.tokens{
    width: 100%;
    display: block;
    justify-content: space-between;
}
.Display{
    display: flex;
    justify-content: space-around;
}
.calledToken{
    height: 700px;
    width: auto;
    
}
.inner{
    width: auto;
    height: 600px;
    overflow-x:hidden;
    overflow-y: scroll;
   background-color: transparent;

}
.inner::-webkit-scrollbar{
    display: none;
}