.displayCard{
    height: 180px;
    width:90%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.tokens{
    width: 100%;
    display: block;
    justify-content: space-between;
}
.Display{
    display: flex;
    justify-content: space-around;
}
.calledToken{
    height: 700px;
    width: auto;
    
}
.inner{
    width: auto;
    height: 70%;
    overflow-x:hidden;
    overflow-y: scroll;
   background-color: transparent;

}
.inner::-webkit-scrollbar{
    display: none;
}