.ActionDiv{
    width: 80%;
    height: 130px;
    margin: auto;
    border: 1px solid black;
}
.ActionDiv h1{
    margin: auto;
}
.btns{
    display: flex;
    justify-content: space-around;
}
.btns button{
    margin-top: 10px;
    border: 1px solid black;
    color: white;
    height: 40px;
    width: 100px;
    background-color: rgb(6, 59, 59);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
